/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #3C4858;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  font-size: 14px;
  font-family: "calibri", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.main-section {
  .section-header {
    padding: 10px 0px;
  }

  .section-body {
    padding: 10px 0px;
  }
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .18);
  margin: 15px auto;
  border-radius: 3px;
  background: #fff;
  height: calc(100% - 30px);

  .card-header {
    display: flex;
    border-bottom: 2px solid #eaeaea;
    max-height: 240px;

    .card-img {
      margin: 0 auto;
      display: block;
      padding: 10px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .card-body {
    padding: 10px 15px;

    .title {
      color: #000;
      display: block;
      margin-bottom: 10px;
    }

    .date {
      color: #3C4858;
      display: block;
      font-size: 80%;
    }

    .discription {
      text-align: justify;
      color: #464646;
    }
  }
}

.assignment-table {
  display: flex;
  overflow: auto;
  height: 100%;
  position: relative;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin-bottom: 50px;
  overflow: auto;

  .assignment-list {
    display: block;
    width: 100%;
    min-width: 767px;
    padding: 0px 15px;

    .assignment-list-head {
      background: #e7e7e7;
      font-weight: bold;

      ul {
        li {
          .docx-title {
            display: block;
            line-height: 1.5em;
            padding: 4px 0px;
            white-space: normal;
            word-break: break-word;
            position: relative;
            text-transform: uppercase;
          }
        }
      }
    }

    .assignment-list-body {
      max-height: 400px;
      overflow: auto;
    }

    .assignment-list-head,
    .assignment-list-body {
      margin: 0px -15px;

      ul {
        display: flex;
        margin: 0;
        padding: 0;
        background: inherit;
        color: inherit;
        table-layout: fixed;
        width: 100%;
        padding: 0px 15px;

        li {
          display: inline-flex;
          padding: 10px;
          cursor: pointer;
          vertical-align: top;
          flex: 1;
          flex-direction: column;
          justify-content: center;

          &:last-child {
            text-align: center;
            justify-content: center;
            padding-right: 0px;
            text-align: center;
          }

          &:first-child {
            max-width: 70px;
            min-width: 70px;
          }

          &:nth-child(2) {
            max-width: 200px;
            min-width: 200px;
          }

          &:nth-child(3) {
            max-width: 150px;
            min-width: 150px;
          }

          &:nth-child(4) {
            text-align: left;
          }
        }

        &:nth-child(even) {
          background: #f5f5f5;
        }
      }
    }

    .assignment-list-head {
      ul {
        li {
          padding: 5px 10px;
        }
      }
    }
  }

}


@media (max-width: 767px) {
  .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 520px) {
  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.form-control,
.form-group .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.875rem + 2px);
  padding: 0.4375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border: 1px solid #d2d2d2;
  border-radius: 0;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}
